@import 'basscss/css/basscss.css';
@import 'typicons.font/src/font/typicons.css';

$dark: #463F3F;
$neutral: #ccc;
$light: #fff;

body {
  background: $neutral;
}

.header {
  background: $dark;
  color: $light;
}


.box {
  background: $light;
}
