@import 'typicons.font/src/font/typicons.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Basscss Modules */
@import 'basscss-base-reset';
@import 'basscss-base-forms';
@import 'basscss-base-tables';
@import 'basscss-base-typography';
@import 'basscss-color-base';
@import 'basscss-color-forms';
@import 'basscss-color-tables';
@import 'basscss-btn';
@import 'basscss-btn-primary';
@import 'basscss-btn-outline';
@import 'basscss-type-scale';
@import 'basscss-utility-typography';
@import 'basscss-utility-layout';
@import 'basscss-align';
@import 'basscss-white-space';
@import 'basscss-positions';
@import 'basscss-responsive-states';
@import 'basscss-grid';
@import 'flex-object';
@import 'basscss-borders';
@import 'basscss-colors';
@import 'basscss-background-colors';


/* Extra imports */
@import 'basscss-responsive-white-space';

/* Default custom properties */
@import 'basscss-defaults';

/*
  For reference:
  https://github.com/basscss/bassplate/blob/master/src/base.css
*/

/* Custom properties */
/*
:root {
  --font-family: 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 1.5;
  --heading-font-family: var(--font-family);
  --heading-font-weight: bold;
  --heading-line-height: 1.25;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;
  --bold-font-weight: bold;
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --form-field-padding-x: .5rem;
  --button-font-size: inherit;
  --button-font-weight: bold;
  --button-line-height: 1.125rem;
  --button-padding-y: .5rem;
  --button-padding-x: 1rem;
  --container-width: 64em;
  --black:  #111;
  --gray:   #aaa;
  --silver: #ddd;
  --white:  #fff;
  --aqua:   #7fdbff;
  --blue:   #0074d9;
  --navy:   #001f3f;
  --teal:   #39cccc;
  --green:  #2ecc40;
  --olive:  #3d9970;
  --lime:   #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red:    #ff4136;
  --fuchsia:#f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
  --darken-1: rgba(0,0,0,.0625);
  --darken-2: rgba(0,0,0,.125);
  --darken-3: rgba(0,0,0,.25);
  --darken-4: rgba(0,0,0,.5);
  --border-width: 1px;
  --border-radius: 3px;
  --border-color: var(--darken-2);
  --hover-background-color: var(--darken-1);
  --link-color: var(--blue);
  --button-background-color: var(--blue);
  --pre-background-color: var(--silver);
}
*/

:root {
  --primary: #B51414;
  --link-color: var(--primary);
  --button-background-color: var(--primary);
  --header-high: 50px;
}

:root {
  --dark: #463F3F;
  --neutral: #ccc;
  --light: #fff;

  --font-family: 'Droid Sans', sans-serif;
  --font-family-serif: 'Droid Serif', serif;
  --font-family-mono: 'Droid Sans Mono', monospace;
}

body {
  background: var(--neutral);
  padding-bottom: var(--space-4);
}

.btn:focus {
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 0px 3px inset;
}


.serif {
  font-family: var(--font-family-serif);
}

.sep {
  content: '';
  height: 1px;
  background: color(var(--neutral) tint(50%));
}

.header__title {
  display: inline-block;
  height: var(--space-3);
  line-height: 3rem;
  color: white;
  letter-spacing: 2px;
}

.post-li {
  a {
    text-decoration: none;
  }
}

.text-dark {
  color: var(--dark);
}

.text-neutral {
  color: var(--neutral);
}

.header {
  background: var(--dark);
  color: var(--light);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  .btn {
    height: var(--space-3);
    line-height: var(--space-3);
    color: color(var(--white) shade(10%));
    font-size: var(--h5);

    &:hover {
      background: color( var(--dark) blackness(100%));
    }
  }

  .btn.btn-icon {
    font-size: var(--h3);
    .typcn {
     position: relative;
     top: -3px;
    }
  }

  .btn.btn-search {
    box-shadow: 0 -1px #666 inset;
    background: color( var(--dark) shade(50%));
    &:hover {
      background: color( var(--dark) shade(100%));
    }
  }
}


.box {
  background: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-pic-sm {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --brand-dribbble: #ea4c89;
  --brand-twitter: #55acee;
  --brand-github: #333333;
  --brand-linkedin: rgb(0, 119, 181);
  --brand-rss: #c7b572;
}
.brand-dribbble {
  background: var(--brand-dribbble);
  color: white;
  border-bottom:3px solid color(var(--brand-dribbble) shade(10%));
  &:hover{
    background: color(var(--brand-dribbble) shade(20%));
  }
}

.brand-twitter {
  background: var(--brand-twitter);
  color: white;
  border-bottom:3px solid color(var(--brand-twitter) shade(10%));
  &:hover{
    background: color(var(--brand-twitter) shade(20%));
  }
}

.brand-github {
  background: var(--brand-github);
  color: white;
  border-bottom:3px solid color(var(--brand-github) shade(10%));
  &:hover{
    background: color(var(--brand-github) shade(20%));
  }
}

.brand-linkedin {
  background: var(--brand-linkedin);
  color: white;
  border-bottom:3px solid color(var(--brand-linkedin) shade(10%));
  &:hover{
    background: color(var(--brand-linkedin) shade(20%));
  }
}


.brand-rss {
  background: var(--brand-rss);
  color: white;
  border-bottom:3px solid color(var(--brand-rss) shade(10%));
  &:hover{
    background: color(var(--brand-rss) shade(20%));
  }
}

.brand-article {
  background: var(--primary);
  color: white;
  border-bottom:3px solid color(var(--primary) shade(10%));
  &:hover{
    background: color(var(--primary) shade(20%));
  }
}
.bar {
  line-height: 3;
  cursor: pointer;

  a {
    width: 100%;
    height: 100%;
  }
}

.header.header.header {
  height: var(--header-high);
  a {
    height: var(--header-high);
  }
}
