<div class="container">
  <div class="clearfix mxn1">
    <div class="sm-col sm-col-4 px1 mt2">
      <div class="box p3">
        <img class="profile-pic profile-pic-sm center-block" src="../about.jpg" alt="Ryan LaBouve, Profile Pic" />
        <h2 class="serif center">Ryan LaBouve</h2>
        <p class="h5 center">Disciple of Jesus Christ &amp; family man. Doer of JS &amp; maker of webs.</p>
      </div>
    </div>
     <div class="sm-col sm-col-4 px1 mt2">
      <div class="box">
        <div class="bar brand-article">
          <div class="btn serif italic"><span class="typcn typcn-document-text"></span> Recent Articles</div>
        </div>
      </div>
      <div class="box p2">
        {% for post in collections.posts|truncate_list(5) %}
          <div class="bar">
            <a href="{{post.link}}" class="h6">

              {{post.title|mahlimit(35)}} <div class="h6 muted right">{{post.date|date('m-d-y')}}</div>
            </a>
            {% if !loop.last %}
              <div class="sep"></div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
     <div class="sm-col sm-col-4 px1 mt2">
      <div class="box">
        <div class="brand-rss bar clearfix">
          <a href="http://twitter.com/ryanlabouve" class="btn btn-icon">
            <span class="typcn typcn-rss"></span> RSS
          </a>
        </div>
        <div class="brand-twitter bar clearfix">
          <a href="http://twitter.com/ryanlabouve" class="btn btn-icon">
            <span class="typcn typcn-social-twitter"></span> Twitter
          </a>
        </div>
        <div class="brand-linkedin bar clearfix">
          <a href="https://www.linkedin.com/in/ryanlabouve" class="btn btn-icon">
            <span class="typcn typcn-social-linkedin"></span> LinkedIn
          </a>
        </div>
        <div class="brand-github bar clearfix">
          <a href="http://github.com/ryanlabouve/" class="btn btn-icon">
            <span class="typcn typcn-social-github"></span> Github
          </a>
        </div>
        <div class="brand-dribbble bar clearfix">
          <a href="http://dribbble.com/ryanlabouve/" class="btn btn-icon">
            <span class="typcn typcn-social-dribbble"></span> Dribbble
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt4 center">
  <a href="http://holyarchers.com" class="center">
    <img src="/assets/ha-circle.png" height=25 width=25 style="vertical-align: text-bottom;" alt="HolyArchers.com" />
  </a>
</div>
