  <div class="header">
    <div class="clearfix container py1">
      <div class="header__title h3 bold caps left px2">
        <a href="/">
          Ryan LaBouve
        </a>
      </div>

      <div class="btn left">
        <a href="/">
          Blog
        </a>
      </div>
      <div class="btn left">
        <a href="/speaking">
          Speaking
        </a>
      </div>
      <div class="btn left">
        <a href="/about">
          About
        </a>
      </div>

      <div class="right">
        <div class="btn left">
          <a href="http://twitter.com/ryanlabouve">
            <span class="typcn typcn-social-twitter"></span>
          </a>
        </div>
        <div class="btn left">
          <a href="https://www.linkedin.com/in/ryanlabouve">
            <span class="typcn typcn-social-linkedin"></span>
          </a>
        </div>
        <div class="btn left">
          <a href="http://github.com/ryanlabouve/">
            <span class="typcn typcn-social-github"></span>
          </a>
        </div>
        <div class="btn left">
          <a href="http://dribbble.com/ryanlabouve/">
            <span class="typcn typcn-social-dribbble"></span>
          </a>
        </div>
        <div class="btn left">
          <a href="">
            <span class="typcn typcn-zoom"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
