  <div class="header">
    <div class="clearfix container">
      <a href="/" class="header__title h3 bold caps left px2">
        <img src="/assets/ha-circle.png" height=25 width=25 style="vertical-align: text-bottom;" alt="HolyArchers.com" /> Ryan LaBouve
      </a>

      <a href="/" class="btn left serif italic">
        Blog
      </a>
      <a href="/speaking" class="btn left serif italic">
        Speaking
      </a>
      <a href="/about" class="btn left serif italic">
        About
      </a>

      <div class="right">
        <a href="http://twitter.com/ryanlabouve" class="btn btn-icon left">
          <span class="typcn typcn-social-twitter"></span>
        </a>
        <a href="https://www.linkedin.com/in/ryanlabouve" class="btn btn-icon left">
          <span class="typcn typcn-social-linkedin"></span>
        </a>
        <a href="http://github.com/ryanlabouve/" class="btn btn-icon left">
          <span class="typcn typcn-social-github"></span>
        </a>
        <a href="http://dribbble.com/ryanlabouve/" class="btn btn-icon left">
          <span class="typcn typcn-social-dribbble"></span>
        </a>
        <a href="" class="btn btn-icon btn-search left">
          <span class="typcn typcn-zoom"></span>
        </a>
      </div>
    </div>
  </div>
