<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ryan LaBouve</title>
    <link rel="stylesheet" href="/css/app.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic|Droid+Sans:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/zenburn.min.css">
    <script src="//cdn.jsdelivr.net/highlight.js/8.8.0/highlight.min.js"></script>
  </head>
  <body>

  {% include "../partials/header.html" %}

  <div class="container">
    <div class="box py4 px2 sm-px4">
      <div class="post lg-px4">
        <div class="right">{{date|date('F j, Y')}}</div>
        <h1 class="serif">{{title}}</h1>
        {{ contents|safe }}
      </div>
    </div>
  </div>

  {% include "../partials/footer.html" %}

  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
