<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }} | Ryan LaBouve</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>

  {% include "../partials/header.html" %}

  <div class="container">
    {{ contents|safe }}
  </div>


  <div class="container">
    <div class="box p4">
      {% for post in collections.posts %}
        <div class="post-li">
          <a href="{{post.link}}">
            <!-- {{console.log(post)}} -->
            <div class="right">{{post.date|date('F j, Y')}}</div>
            <h2>{{post.title}}</h2>
            <p>
              {{post.peak}}
            </p>
            <a class="btn btn-primary" href="{{post.link}}">Read More</a>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  {% include "../partials/footer.html" %}

</body>
</html>
