<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }} | Ryan LaBouve</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>

  {% include "../partials/header.html" %}

  <div class="container">
    {{ contents|safe }}
  </div>


  <div class="container">
    <div class="box">
      {% for article in collections.articles %}
        <div class="post-li">
          <a href="{{article.link}}">
            <!-- {{console.log(article)}} -->
            <div class="right">{{article.date}}</div>
            <h2>{{article.title}}</h2>
            <p>
              {{article.peak}}
            </p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  {% include "../partials/footer.html" %}

</body>
</html>
